.ant-layout {
  min-height: 100vh;
  width: fit-content !important;
}

#components-layout-demo-custom-trigger .trigger {
  padding: 0 24px;
  font-size: 18px;
  line-height: 64px;
  cursor: pointer;
  transition: color 0.3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  margin: 16px;
  background: rgba(255, 255, 255, 0.3);
}

.site-layout .site-layout-background {
  background: #fff;
}

.site-layout .ant-layout-header {
  padding: 0 1em;
}

.ant-layout-header .anticon {
  font-size: 1.7em;
  padding: 0.3em;
  border: 1.5px solid #686868;
  border-radius: 8px;
}

.site-layout .site-layout-content {
  padding: 1em 2.5em;
}

.ant-layout-sider-children .ant-dropdown-link {
  margin: 0.5em 0;
  padding: .8em 0;
  background: none;
  color: #fff;
  width: 100%;
  border: none;
  font-size: 17px;
  transition: .2s linear background-color;
}

.ant-layout-sider-children .ant-dropdown-link:hover{
  background-color: #188fff50;
}

.ant-layout-sider-children .ant-dropdown-link .anticon {
  margin-left: 0.5em;
}